@import url("https://fonts.googleapis.com/css?family=Heebo&display=swap");

* {
  /* direction: rtl; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Heebo";
}

:root {
  /* --background: #80a964; */
  --text: #fefefe;
  --background: #384C31;
  --primary: #161F14;
  /* --secondary: #152211; */
  --accent: #849177;


  --fs-factor: 1.333;
  --fs-400: 1.25em;
  --fs-500: calc(var(--padding-400) * var(--fs-factor));
  --fs-600: calc(var(--padding-500) * var(--fs-factor));
  --fs-700: calc(var(--padding-600) * var(--fs-factor));
  --fs-800: calc(var(--padding-700) * var(--fs-factor));
  --fs-900: calc(var(--padding-800) * var(--fs-factor));

  --padding-factor: 1.333;
  --padding-400: 1.25em;
  --padding-500: calc(var(--padding-400) * var(--padding-factor));
  --padding-600: calc(var(--padding-500) * var(--padding-factor));
  --padding-700: calc(var(--padding-600) * var(--padding-factor));
  --padding-800: calc(var(--padding-700) * var(--padding-factor));
  --padding-900: calc(var(--padding-800) * var(--padding-factor));
}

body {
  background-color: var(--background);
}

p {
  font-size: var(--fs-400);
}

h1 {
  font-size: var(--fs-900);
}

h2 {
  font-size: var(--fs-800);
}

h3 {
  font-size: var(--fs-700);
}

h4 {
  font-size: var(--fs-600);
}

h5 {
  font-size: var(--fs-500);
}

.content--container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  padding: var(--padding-500);
  border-radius: 2rem;
  margin-inline: auto;
}

.content__title {
  text-align: center;
}

.levels--btns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
  justify-items: center;
  gap: 1rem;
  padding: 1rem;
}

.choose__level__btn {
  width: 100%;
  aspect-ratio: 1;
  border: 0;
  border-radius: 1rem;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.choose__level__btn:nth-child(1) {
  background-image: url(https://raw.githubusercontent.com/nitayke/idf/master/public/start-menu-images/%D7%A7%D7%9C.png);
}
.choose__level__btn:nth-child(2) {
  background-image: url(https://raw.githubusercontent.com/nitayke/idf/master/public/start-menu-images/%D7%91%D7%99%D7%A0%D7%95%D7%A0%D7%99.png);
}
.choose__level__btn:nth-child(3) {
  background-image: url(https://raw.githubusercontent.com/nitayke/idf/master/public/start-menu-images/%D7%97%D7%99%D7%9C%20%D7%94%D7%90%D7%95%D7%95%D7%99%D7%A8.png);
}
.choose__level__btn:nth-child(4) {
  background-image: url(https://raw.githubussercontent.com/nitayke/idf/master/public/start-menu-images/%D7%97%D7%99%D7%9C%20%D7%94%D7%99%D7%9D.png);
}
.choose__level__btn:nth-child(5) {
  background-image: url(https://raw.githubusercontent.com/nitayke/idf/master/public/start-menu-images/%D7%A1%D7%99%D7%9B%D7%95%D7%AA.png);
}
.choose__level__btn:nth-child(6) {
  background-image: url(https://raw.githubusercontent.com/nitayke/idf/master/public/start-menu-images/%D7%9B%D7%9C%20%D7%94%D7%A1%D7%9E%D7%9C%D7%99%D7%9D.png);
}

footer {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.after--game {
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.after--game h3 {
  font-size: 1.5rem;
}

.after--game div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.after--game button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.game {
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game img {
  width: 150px;
  margin-bottom: 2rem;
}

.answer__btn {
  width: 80%;
  font-size: 1.2rem;
  color: #111;
  background-color: #fff;
  border: 2px solid #80a964;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: 200ms all ease-in-out;
}

.answer__btn:active {
  transform: scale(98%);
}

.make-it-green {
  border: 2px solid #00c200;
  transform: scale(1.02);
  transition: 200ms ease;
}

.make-it-red {
  border: 2px solid #f10000;
  transform: scale(1.02);
  transition: 200ms ease;
}

/* loader */
.loader--container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  pointer-events: none;
  z-index: 999;
}

.loader__circle {
  position: fixed;
  top: 25%;
  background-color: #80a964;
  z-index: 999;
  border-radius: 50%;
  width: 30vh;
  height: 30vh;
}

.loader__line {
  position: fixed;
  top: 25%;
  z-index: 999;
  background-color: #80a964;
  border-radius: 50%;
  width: 30vh;
  height: 30vh;
  animation: spin 3s linear infinite;
}

.loader__clock {
  position: relative;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 50%;
  z-index: 999;
  background-color: #344528;
  border-radius: 80%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  width: 8px;
  height: 15vh;
}

.loader__text {
  position: fixed;
  top: 60%;
  z-index: 999;
  padding: 1rem;
  text-align: center;
  color: #80a964;
  font-size: 1.4rem;
  font-weight: 900;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dark-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #000000af;
  transition: 500ms ease-in-out;
}
